<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="head :: head"></head>
	
	<body>
	
		<div th:replace="menu :: menu"></div>
	
		<main class="container">
			<div class="bg-light p-5 rounded">
				<h1>Gerar Prova</h1>
	
				<p>Cadastro</p>
	
				<form th:object="${prova}" action="/prova/gerar" method="POST">
	
					<div>
						<label class="form-label" for="titulo">Titulo</label> 
						<input type="text" th:field="*{titulo}"
							class="form-control" placeholder="Enunciado da Prova" 
							autocomplete="off"> 
					</div>
					
					<div class="row">
						<div class="col-12">
							<label class="form-label" for="tag">Tag</label>
							
							<select th:field="*{idTag}" class="form-control select2-single">
								<option th:each="tag : ${tagList}" th:value="${tag.idTag}" th:text="${tag.nome}">
							</select>
						</div>
		
					</div>
					<div class="row">
						<label class="form-label" style="font-size:25px; text-align:center;">Quantidade de questões por dificuldade</label>				
					</div>
					<div class="row">
						<div class="col-4 mt-4">
							<label class="form-label" for="qtdeQuestoesFacil">Facil:</label>
							
							<input name="qtdeQuestoes" type="number" min="0" th:field="*{qtdeFacil}">
						</div>
						<div class="col-4 mt-4">
							<label class="form-label" for="qtdeQuestoesMedio">Medio:</label>
							
							<input name="qtdeQuestoes" type="number" min="0" th:field="*{qtdeMedio}">
						</div>
						<div class="col-4 mt-4">
							<label class="form-label" for="qtdeQuestoesDificil">Dificil:</label>
							
							<input name="qtdeQuestoes" type="number" min="0" th:field="*{qtdeDificil}">
						</div>
					</div>	
					
					<button type="submit" class="btn-c btn btn-secondary active my-3">
						Gerar
					</button>
					
				</form>
			</div>
		</main>
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>