<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="head :: head"></head>
	
	<body>
		<!-- 
	    BARRA DE NAVEGACAO 
	  -->
	
		<div th:replace="menu :: menu"></div>
	
		<!-- 
	    CONTEUDO DA PAGINA 
	  -->
		<main class="container">
			<div class="bg-light p-5 rounded">
				<h1>Gerar Prova</h1>
	
				<p>Atualizacao</p>
	
				<form th:object="${prova}" action="/prova/salvar" method="POST">
	
					<div>
						<label class="form-label" for="titulo">Titulo</label> 
						<input type="text" th:field="*{titulo}"
							class="form-control" placeholder="Enunciado da Prova" 
							th:errorclass="inputError"autocomplete="off"> 
							<span class="error" th:if="${#fields.hasErrors('titulo')}"
							th:errors="*{titulo}">campo invalido</span>
					</div>
					
					<div class="row">
						<div class="col-8">
							<label class="form-label" for="tag">Tag</label>
							
							<select th:field="*{idTag}" class="form-control select2-single">
								<option th:each="tag : ${tagList}" th:value="${tag.idTag}" th:text="${tag.nome}">
							</select>
						</div>
		
						<div class="col-4 mt-4">
							<label class="form-label" for="qtdeQuestoes">Quantidade de questoes</label>
							
							<input name="qtdeQuestoes" type="number" min="0" th:field="*{numeroQuestoes}">
						</div>
					</div>
					
					<button type="submit"
								class="btn-c btn btn-secondary active my-3">Atualizar</button>
					
				</form>
			</div>
		</main>
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>