<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
	<!-- 
    BARRA DE NAVEGACAO 
  -->
	<div th:replace="menu :: menu"></div>


	<!-- 
    CONTEUDO DA PAGINA 
  -->
	<main class="container">
		<a class="btn-c btn btn-secondary active my-3" role="button" th:href="@{/prova/novo}"> <i
				class="bi bi-plus-square"></i> Prova
		</a>

		<div class="bg-light p-5 rounded">

			<h3>Gerenciar Provas</h3>

			<div class="row">

				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th style="width: 50px">ID</th>
							<th>Título da Prova</th>
							<th style="width: 150px">Status</th>
							<th style="width: 50px">Nota</th>
							<th style="width: 50px">Deletar</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="prova: ${provaList}">
							<td class="center" th:text="${prova.idProva}" />
							<td th:text="${prova.titulo}" />
							<td th:switch="${prova.status}">
								<div th:case="${T(br.com.geradorprova.model.enumeration.ProvaStatus).FINALIZADA}">
									Finalizada
								</div>
								<div th:case="${T(br.com.geradorprova.model.enumeration.ProvaStatus).CORRIGIDA}">
									Corrigida
								</div>
								<div th:case="*">
									...
								</div>
							</td>
							<td th:text="${{prova.nota}}" />
							<td class="center"><a th:href="@{/prova/deletar/{id}(id=${prova.idProva})}">
									<i class="bi bi-trash" title="delete"></i>
								</a></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>
	</main>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>