<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
	<!-- 
    BARRA DE NAVEGACAO 
  -->
	<div th:replace="menu :: menu"></div>
	<!-- 
    CONTEUDO DA PAGINA 
  -->
	<main class="container">
		<div class="bg-light p-5 rounded">
			<h3>Gerenciar Tag</h3>

			<div th:switch="${tag.idTag>0}">
				<p th:case="${true}">Atualização</p>
				<p th:case="*">Cadastro Tag</p>
			</div>

			<form th:object="${tag}" action="/tag/salvar" method="POST">
				<input type="hidden" th:field="${tag.idTag}" th:if="${tag.idTag}">

				<div class="mb-3">
					<label class="form-label" for="nome">Tag</label> <input type="text" th:field="*{nome}"
						class="form-control" placeholder="Identificação da Tag" autocomplete="off">
				</div>
				<div class="mb-3">
					<p th:switch="${tag.idTag>0}">
						<button type="submit" th:case="${true}" class="btn-c btn btn-secondary active my-3"
							th:text="Atualizar"></button>
						<button type="submit" th:case="*" class="btn-c btn btn-secondary active my-3"
							th:text="Adicionar"></button>
					</p>
				</div>
			</form>
		</div>
	</main>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>