<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="head :: head"></head>

	<body>
 		<!-- 
    	BARRA DE NAVEGACAO 
  		-->
		<div th:replace="menu :: menu"></div>
  
  <div class="ml-5">
  	<div class="row">
  		<h2 th:text="'ERRO:' + ${pessoa.nome} + ' nao existe na base de dados API'"></h2>
  	</div>
  	<br>
  		
  
  		<a class="btn btn-primary active" role="button" th:href="@{/pessoas/list}">
  		<i class="bi bi-arrow-return-left"></i>
  		Voltar
  		</a>
  </div>
	</body>
</html>