<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
	<!-- 
    BARRA DE NAVEGACAO 
  -->
	<div th:replace="menu :: menu"></div>
	<!-- 
    CONTEUDO DA PAGINA 
  -->
	<main class="container">
		<div class="bg-light p-5 rounded">
			<h3>Gerenciar Questão</h3>

			<div th:switch="${questao.idQuestao>0}">
				<p th:case="${true}">Atualizar Questão</p>
				<p th:case="*">Cadastro Questão</p>
			</div>

			<form th:object="${questao}" th:action="@{/questao/salvar/}"
				method="POST">
				<input type="hidden" th:field="${questao.idQuestao}" th:if="${questao.idQuestao}" />

				<div class="row">
					<div class="col-6">
						<label class="form-label" for="tag">Tag</label>
						
						<select th:field="*{idTag}" name="" id="" class="form-control select2-single">
							<option th:each="tag : ${tagList}" th:value="${tag.idTag}" th:text="${tag.nome}">
						</select>
					</div>
	
					<div class="col-6">
						<label class="form-label" for="dificuldade">Grau de Dificuldade</label>
						<select id="idDificuldade" name="dificuldade" th:field="*{dificuldade}" class="form-control select2-single">
						    <option th:each="dif : ${T(br.com.geradorprova.model.enumeration.Dificuldade).values()}"
						            th:value="${dif}"
						            th:text="${dif.valor}">
						    </option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label class="form-label" for="tipo">Tipo de Questão</label>
						<select id="idtipoQuestao" name="tipoQuestao" th:field="*{tipoQuestao}" class="form-control select2-single">
						    <option th:each="tipo : ${T(br.com.geradorprova.model.enumeration.TipoQuestao).values()}"
						            th:value="${tipo}"
						            th:text="${tipo.valor}">
						    </option>
						</select>
					</div>
				</div>
				
				<div id="ajaxLoadedContent"></div>

				<div id="questaoSwitch" th:switch="*{tipoQuestao}">
					<!-- 
						QUESTÃO ABERTA 
						th:case="${0}"
					-->

					<div th:case="${T(br.com.geradorprova.model.enumeration.TipoQuestao).ABERTA}">
						<div class="row">
							<div class="col-12">
								<label class="form-label" for="aberta">Enunciado:</label>
								<textarea class="form-control" th:field="*{enunciado}" name="aberta" placeholder="Enunciado da questão"
								rows="3" cols="40">
								</textarea>
						</div>
						</div>
					</div>


					<!-- 
						MULTIPLA ESCOLHA 
						th:case="${1}"
					-->
					

					 <div th:case="${T(br.com.geradorprova.model.enumeration.TipoQuestao).ESCOLHA_MULTIPLA}">
						<div class="row">
							<div class="col-12">
									<label class="form-label" for="aberta">Enunciado:</label>
									<textarea th:field="*{enunciado}" class="form-control" id="" name="aberta" placeholder="Enunciado da questão"
									rows="3" cols="40">
									</textarea>
							</div>
						</div>
		
						<div class="row">
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="checkbox" th:checked="*{not #lists.isEmpty(respostas) && respostas[0].respostaCorreta == 1}"  
									th:field="*{respostas[0].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">	
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[0].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('*{respostas[0].resposta}')}"
									th:errors="*{respostas[0].resposta}">campo invalido</span>
							</div>
		
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="checkbox" th:checked="*{not #lists.isEmpty(respostas) && respostas[1].respostaCorreta == 1}"  
									th:field="*{respostas[1].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[1].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('*{respostas[1].resposta}')}"
									th:errors="*{respostas[1].resposta}">campo invalido</span>
							</div>
		
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="checkbox" th:checked="*{not #lists.isEmpty(respostas) && respostas[2].respostaCorreta == 1}"  
									th:field="*{respostas[2].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[2].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('*{respostas[2].resposta}')}"
									th:errors="*{respostas[2].resposta}">campo invalido</span>
							</div>
		
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="checkbox" th:checked="*{not #lists.isEmpty(respostas) && respostas[3].respostaCorreta == 1}"  
									th:field="*{respostas[3].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">	
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[3].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('*{respostas[3].resposta}')}"
									th:errors="*{respostas[3].resposta}">campo invalido</span>
							</div>
		
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="checkbox" th:checked="*{not #lists.isEmpty(respostas) && respostas[4].respostaCorreta == 1}"  
									th:field="*{respostas[4].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11">
								<input
									type="text" th:field="*{respostas[4].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('*{respostas[4].resposta}')}"
									th:errors="*{respostas[4].resposta}">campo invalido</span>
							</div>
						</div>
					</div>


					<!-- 
						ÚNICA ESCOLHA 
						th:case="${2}"
					-->

					<div th:case="${T(br.com.geradorprova.model.enumeration.TipoQuestao).ESCOLHA_UNICA}">
						<div class="row">
							<div class="col-12">
									<label class="form-label" for="aberta">Enunciado:</label>
									<textarea class="form-control" th:field="*{enunciado}" name="aberta" placeholder="Enunciado da questão"
									rows="3" cols="40">
									</textarea>
							</div>
						</div>
		
						<div class="row">
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="RADIO" th:checked="*{not #lists.isEmpty(respostas) && respostas[0].respostaCorreta == 1}"  
									th:field="*{respostas[0].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[0].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('respostas[0].resposta')}"
									th:errors="*{respostas[0].resposta}">campo invalido</span>
							</div>
		
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="RADIO" th:checked="*{not #lists.isEmpty(respostas) && respostas[1].respostaCorreta == 1}"  
									th:field="*{respostas[1].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[1].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('respostas[1].resposta')}"
									th:errors="*{respostas[1].resposta}">campo invalido</span>
							</div>
		
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="RADIO" th:checked="*{not #lists.isEmpty(respostas) && respostas[2].respostaCorreta == 1}"  
									th:field="*{respostas[2].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[2].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('respostas[2].resposta')}"
									th:errors="*{respostas[2].resposta}">campo invalido</span>
							</div>
		
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="RADIO" th:checked="*{not #lists.isEmpty(respostas) && respostas[3].respostaCorreta == 1}"  
									th:field="*{respostas[3].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11 mb-3">
								<input
									type="text" th:field="*{respostas[3].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('respostas[3].resposta')}"
									th:errors="*{respostas[3].resposta}">campo invalido</span>
							</div>
							
							<div class="col-1 center mt-2">
								<input 
									class="form-label" type="RADIO" th:checked="*{not #lists.isEmpty(respostas) && respostas[4].respostaCorreta == 1}"  
									th:field="*{respostas[4].respostaCorreta}" th:value="${1}" style="height: 20px; width: 20px;">
							</div>
							<div class="col-11">
								<input
									type="text" th:field="*{respostas[4].resposta}" class="form-control"
									placeholder="Adicionar alternativa" th:errorclass="inputError" autocomplete="off">
								<span class="error" th:if="${#fields.hasErrors('respostas[4].resposta')}"
									th:errors="*{respostas[4].resposta}">campo invalido</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="mb-3">
					<p th:switch="${questao.idQuestao>0}">
						<button th:case="${true}" type="submit"
							class="btn-c btn btn-secondary active my-3">Atualizar</button>
						<button th:case="*" type="submit"
							class="btn-c btn btn-secondary active my-3">Adicionar</button>
					</p>
				</div>

			</form>
		</div>
	</main>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA][*/
			$(document).ready(function () {
				
				console.log($("#idtipoQuestao :selected").val());
			

				$("#idtipoQuestao").change(function (){
					
					$.ajax({
			            url : 'ajax/tipo',
			            type : 'post',
			            data : $(/*[[${questao}]]*/).serialize(),
			            success : function(response) {
			                if ($(response).find('.has-error').length) {
			                	$("#ajaxLoadedContent").replaceWith(response);
			                }
			                else{
			                    $("#ajaxLoadedContent").replaceWith(response);
			                }
			            }
			        });
					
				});
			
			});
			
		
		/*]]>*/	
	</script>
</body>
</html>