<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
	<!-- 
    BARRA DE NAVEGACAO 
  -->
	<div th:replace="menu :: menu"></div>
	<!-- 
    CONTEUDO DA PAGINA 
  -->
	<main class="container">
		<div class="bg-light p-5 rounded">
			<h3>Gerenciar Questão</h3>
			
			<div th:switch="${questao.idQuestao>0}">
				<p th:case="${true}">Atualizar Questão</p>
				<p th:case="*">Cadastro Questão</p>
			</div>

			<form th:object="${questao}" th:action="@{/questao/salvar/}"
				method="POST" >
				<input type="hidden" th:field="${questao.idQuestao}" th:if="${questao.idQuestao}" />

				<div class="row">
					<div class="col-6">
						<label class="form-label" for="tag">Tag</label>
						
						<select th:field="*{idTag}" name="" id="" class="form-control select2-single">
							<option th:each="tag : ${tagList}" th:value="${tag.idTag}" th:text="${tag.nome}">
						</select>
					</div>
	
					<div class="col-6">
						<label class="form-label" for="dificuldade">Grau de Dificuldade</label>
						<select id="idDificuldade" name="dificuldade" th:field="*{dificuldade}" class="form-control select2-single">
						    <option th:each="dif : ${T(br.com.geradorprova.model.enumeration.Dificuldade).values()}"
						            th:value="${dif}"
						            th:text="${dif.valor}">
						    </option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label class="form-label" for="tipoQuestao">Tipo de Questão</label>
						<input type="hidden" th:field="${questao.tipoQuestao}" th:if="${questao.idQuestao}" />
						<select id="idTipoQuestao" name="tipoQuestao" th:field="*{tipoQuestao}" class="form-control select2-single">
							<option value="">Selecione uma opção</option>
						    <option th:each="tipo : ${T(br.com.geradorprova.model.enumeration.TipoQuestao).values()}"
						            th:value="${tipo}"
						            th:text="${tipo.valor}">
						    </option>
						</select>
					</div>
				</div>
				
				
				<div id="ajaxLoadedContent"></div>
				
				<div class="mb-3">
					<p th:switch="${questao.idQuestao>0}">
						<button th:case="${true}" type="submit"
							class="btn-c btn btn-secondary active my-3">Atualizar</button>
						<button th:case="*" type="submit"
							class="btn-c btn btn-secondary active my-3">Adicionar</button>
					</p>
				</div>

			</form>
		</div>
	</main>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:inline="javascript">
		function myFunction(e, idQuestao) {
			var inputs = $(`[id^=${idQuestao}]`);
		    inputs.get().forEach(function(el) { 
		        el.checked = el == e && e.checked;
		    }, this);
		}
	
		/*<![CDATA][*/
			$(document).ready(function () {
				
				if((/*[[${questao.idQuestao}]]*/ null) > 0){
					document.getElementById("idTipoQuestao").disabled = true;
				}
				
				$("#idTipoQuestao").change(function (){
					$.ajax({
			            url : '/questao/ajax/tipo/' + $("#idTipoQuestao :selected").val(),
			            type : 'post',
			            contentType: 'application/json',
			            data :  JSON.stringify(/*[[${questao}]]*/),
			            success : function(response) {
			                $("#ajaxLoadedContent").replaceWith(response);
			            },
			            cache: false
			        });

				});
				
				$("#idTipoQuestao").trigger("change");
			
			});
			
		
		/*]]>*/	
	</script>
</body>
</html>