<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head :: head"></div>
<body> 
  <div th:replace="menu :: menu"></div>
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main>
    <div class="bg-light p-5 rounded">
      <h2>Gerenciador de Provas</h2>
    </div>
  </main>
	<div class="container">
		<div class="row">
	  		<div class="col-md-4 center">
	  			<h2 class="mt-4">Como deseja acessar o sistema?</h2>
		 		<a class="btn-b btn btn-secondary btn-lg px-5 mt-3" aria-current="page" th:href="@{/login/{tipo}(tipo=${'PROFESSOR'})}">Professor</a><br>
		 		<a class="btn-b btn btn-secondary btn-lg px-5 mt-2" aria-current="page" th:href="@{/login/{tipo}(tipo=${'ALUNO'})}">Aluno</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>